/*************************************************************
PAGE – NATO-ALPHABET TABELLE (Spezifische Eigenschaften)
*************************************************************/

/* Buchstabe (linke Spalte) */
.nato__letter {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-l);
  color: var(--text-accent);
}

/* Bezeichnung (rechte Spalte) */
.nato__word {
  font-size: var(--font-size-base);
  color: var(--text-default);
}