/*************************************************************
PAGE – DIENSTGRAD-TABELLE (Spezifische Anpassungen)
*************************************************************/

/* Bilder in der Tabelle */
.ranks__table img {
  width: 60px;
  height: auto;
  border-radius: var(--radius-sm);
}