{% extends "base/base.html" %}

{% block content %}
<div class="quiz">
  <h1 class="quiz__title">Schulterklappe finden</h1>

  <h4 class="quiz__subtitle">{{ correct.title }}</h4>

  <div class="quiz__grid">
    {% for opt in options %}
    <button
      id="{{ opt.id }}"
      data-id="{{ opt.id }}"
      onclick="checkAnswer({{ opt.id }}, {{ correct.id }})"
      class="quiz__image-button"
    >
      <img
        src="{{ url_for('static', filename='images/' + opt.image_filename) }}"
        alt="{{ opt.title }}"
        class="quiz__image"
      >
    </button>
    {% endfor %}
  </div>

    <!-- Feedback -->
    <p id="feedback" class="quiz__feedback"></p>

    <!-- Button-Bereich -->
    <div class="quiz__actions">
        <a href="{{ url_for('ranks.ranks_quizmodes', branch=selected_branch, mode='normal') }}"
            id="menu-btn"
            class="quiz__next quiz__back">
            Zurück zum Menü
        </a>

        <a href="{{ url_for('ranks.ranks_quiz1') }}" id="next-btn" class="quiz__next d-none">
            Nächste Frage
        </a>
    </div>
</div>

<script>
function checkAnswer(selected, correctId) {
  const buttons = document.querySelectorAll("button[data-id]");
  buttons.forEach(btn => btn.classList.add("is-locked")); // deaktiviert Hover

  const feedback = document.getElementById("feedback");

  if (selected === correctId) {
    feedback.innerText = "Richtig!";
    document
      .getElementById(selected)
      .querySelector("img")
      .classList.add("quiz__image--correct");
  } else {
    feedback.innerText = "Falsch!";
    document
      .getElementById(selected)
      .querySelector("img")
      .classList.add("quiz__image--wrong");
    document
      .getElementById(correctId)
      .querySelector("img")
      .classList.add("quiz__image--correct");
  }

  document.getElementById("next-btn").classList.remove("d-none");
}
</script>
{% endblock %}