{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/pages/home.css') }}">
{% endblock %}

{% block content %}
<div class="page-box page--narrow">
  <h1 class="heading-primary">Schulterklappe finden</h1>
  <h4 class="quiz__subtitle">{{ correct.title }}</h4>

  <div class="btn-group">
    {% for opt in options %}
    <button
      class="quiz__image-button"
      id="{{ opt.id }}"
      data-id="{{ opt.id }}"
      onclick="checkAnswer({{ opt.id }}, {{ correct.id }})"
    >
      <!-- Bilder -->
      <img
        class="quiz__image"
        src="{{ url_for('static', filename='images/' + opt.image_filename) }}"
        alt="{{ opt.title }}"
      >
    </button>
    {% endfor %}
  </div>

  <!-- Feedback -->
  <div id="feedback" class="heading-secondary"></div>

  <!-- Button-Bereich -->
  <div class="btn-group mb-0">
    <a
      href="{{ url_for('ranks.ranks_quizmodes', branch=selected_branch, mode='normal') }}"
      class="btn btn--secondary w-260"
      >Zurück zum Menü
    </a>

    <a
      href="{{ url_for('ranks.ranks_quiz2') }}"
      id="next-btn"
      class="btn btn--primary w-260 d-none"
      >Nächste Frage
    </a>
  </div>
</div>

<script>
function checkAnswer(selected, correctId) {
  const feedback = document.getElementById("feedback");
  const buttons = document.querySelectorAll("button[data-id]");
  buttons.forEach(btn => btn.classList.add("is-locked"));

  if (selected === correctId) {
    feedback.innerText = "Richtig!";
    document
      .getElementById(selected)
      .querySelector("img")
      .classList.add("quiz__image--correct");
  } else {
    feedback.innerText = "Falsch!";
    document
      .getElementById(selected)
      .querySelector("img")
      .classList.add("quiz__image--wrong");
    document
      .getElementById(correctId)
      .querySelector("img")
      .classList.add("quiz__image--correct");
  }

  document.getElementById("next-btn").classList.remove("d-none");
}
</script>
{% endblock %}