{% extends "base.html" %}

{% block content %}
<div class="quiz">
  <h1 class="quiz__title">Dienstgrad erkennen</h1>

  <!-- Bild -->
  <img
    src="{{ url_for('static', filename='images/' + correct.image_filename) }}"
    alt="{{ correct.title }}"
    class="quiz__image"
  >

  <!-- Antwortoptionen -->
  <div class="quiz__options">
    {% for opt in options %}
    <button
      id="{{ opt.id }}"
      data-id="{{ opt.id }}"
      onclick="checkAnswer({{ opt.id }}, {{ correct.id }})"
      class="quiz__button"
    >
      {{ opt.title }}
    </button>
    {% endfor %}
  </div>

    <!-- Feedback -->
    <p id="feedback" class="quiz__feedback"></p>

    <!-- Button-Bereich -->
    <div class="quiz__actions">
        <a href="{{ url_for('ranks.quizmodes', branch=selected_branch, mode='normal') }}"
            id="menu-btn"
            class="quiz__next quiz__back">
            Zurück zum Menü
        </a>

        <a href="{{ url_for('ranks.quiz1') }}" id="next-btn" class="quiz__next d-none">
            Nächste Frage
        </a>
    </div>
</div>

<script>
function checkAnswer(selected, correctId) {
  const buttons = document.querySelectorAll("button[data-id]");
  buttons.forEach(btn => {
    btn.classList.add("is-locked"); // verhindert Hover
  });

  if (selected === correctId) {
    document.getElementById("feedback").innerText = "Richtig!";
    document.getElementById(selected).classList.add("quiz__button--correct");
  } else {
    document.getElementById("feedback").innerText = "Falsch!";
    document.getElementById(selected).classList.add("quiz__button--wrong");
    document.getElementById(correctId).classList.add("quiz__button--correct");
  }

  document.getElementById("next-btn").classList.remove("d-none");
}
</script>
{% endblock %}