{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/pages/home.css') }}">
{% endblock %}

{% block content %}
<div class="page-box page--narrow">
  <h1 class="heading-primary">Quizmodus</h1>

  <!-- Spielmodus -->
  <form id="quizForm" class="actions">
    <div class="section">
      <label for="mode" class="select-label">Spielmodus:</label>
      <select name="mode" id="mode" class="select w-140" onchange="changeMode()">
        <option value="normal" {% if selected_mode == 'normal' %}selected{% endif %}>Unbegrenzt</option>
        <option value="timer" {% if selected_mode == 'timer' %}selected{% endif %}>Zeitspiel</option>
      </select>
    </div>
  </form>

    <!-- Truppenteil -->
  <form id="quizForm" class="actions">
    <div class="section">
      <label for="branch" class="select-label">Truppenteil:</label>
      <select name="branch" id="branch" class="select w-140" onchange="changeBranch()">
        {% for b in branches %}
          <option value="{{ b }}" {% if b == selected_branch %}selected{% endif %}>{{ b }}</option>
        {% endfor %}
      </select>
    </div>
  </form>

  <!-- Quizbuttons -->
  <div class="menu-box__buttons">
    <button type="button" class="btn btn--primary w-320" onclick="startQuiz(1)">Dienstgrad erkennen</button>
    <button type="button" class="btn btn--primary w-320" onclick="startQuiz(2)">Schulterklappe finden</button>
  </div>

  <!-- Zurück-Button -->
  <a href="{{ url_for('ranks.ranks_menu') }}" class="btn btn--secondary w-200">Zurück zum Menü</a>
</div>

<script>
  const quiz1Url = "{{ url_for('ranks.ranks_quiz1') }}";
  const quiz1TimerUrl = "{{ url_for('ranks.ranks_quiz1_timer') }}";
  const quiz2Url = "{{ url_for('ranks.ranks_quiz2') }}";
  const quiz2TimerUrl = "{{ url_for('ranks.ranks_quiz2_timer') }}";

  function changeBranch() {
    const branch = document.getElementById("branch").value;
    const mode = document.getElementById("mode").value;
    window.location.href = `/ranks/quizmodes?branch=${branch}&mode=${mode}`;
  }

  function changeMode() {
    const branch = document.getElementById("branch").value;
    const mode = document.getElementById("mode").value;
    window.location.href = `/ranks/quizmodes?branch=${branch}&mode=${mode}`;
  }

  function startQuiz(type) {
    const mode = document.getElementById("mode").value;
    const branch = document.getElementById("branch").value;

    let url = "";
    if (type === 1) {
      url = mode === "timer"
        ? `${quiz1TimerUrl}?branch=${branch}`
        : `${quiz1Url}?branch=${branch}`;
    } else if (type === 2) {
      url = mode === "timer"
        ? `${quiz2TimerUrl}?branch=${branch}`
        : `${quiz2Url}?branch=${branch}`;
    }

    window.location.href = url;
  }
</script>
{% endblock %}