{% extends "base/base.html" %}

{% block content %}
<div class="home">
  <h1 class="home__title">Bundeswehr Dienstgrade</h1>
  <p class="home__subtitle">Wähle einen Modus aus, um die Dienstgrade zu lernen:</p>

  <div class="home__buttons">
    <!-- Dienstgrad-Tabelle -->
    <a href="{{ url_for('ranks.table') }}" class="btn-home">Dienstgrad-Tabelle</a>

    <!-- Karteikarten -->
    <a href="{{ url_for('ranks.cards') }}" class="btn-home">Karteikarten</a>

    <!-- Quiz -->
    <a href="{{ url_for('ranks.quizmodes') }}" class="btn-home">Quiz</a>
  </div>
</div>
{% endblock %}