{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/pages/home.css') }}">
{% endblock %}

{% block content %}
<div class="page-box page--narrow">
  <h1 class="heading-primary">Quizmodus</h1>

  <!-- Spielmodus -->
  <form id="quizForm" class="actions">
    <div class="section">
      <label for="mode" class="select-label">Spielmodus:</label>
      <select name="mode" id="mode" class="select w-140" onchange="changeMode()">
        <option value="normal" {% if selected_mode == 'normal' %}selected{% endif %}>Unbegrenzt</option>
        <option value="timer" {% if selected_mode == 'timer' %}selected{% endif %}>Zeitmodus</option>
      </select>
    </div>
  </form>

  <!-- Quizbuttons -->
  <div class="menu-box__buttons">
    <button type="button" class="btn btn--primary w-320" onclick="startQuiz()">Quiz starten</button>
  </div>

  <!-- Zurück-Button -->
  <a href="{{ url_for('nato.nato_menu') }}" class="btn btn--secondary w-200">Zurück zum Menü</a>
</div>

<script>
  const quizNormalUrl = "{{ url_for('nato.nato_quiz') }}";
  const quizTimerUrl = "{{ url_for('nato.nato_quiz_timer') }}";

  function changeMode() {
    const mode = document.getElementById("mode").value;
    window.location.href = `/nato/quizmodes?mode=${mode}`;
  }

  function startQuiz() {
    const mode = document.getElementById("mode").value;
    const url = mode === "timer" ? quizTimerUrl : quizNormalUrl;
    window.location.href = url;
  }
</script>
{% endblock %}