{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/pages/home.css') }}">
{% endblock %}

{% block content %}
<div class="nato-quizmodes page-box">
  <h1 class="nato-quizmodes__title heading-primary">Quizmodus</h1>

  <form id="quizForm" class="quiz__form">
    <div class="quiz__section">
      <label for="mode" class="quiz__label">Spielmodus:</label>
      <select name="mode" id="mode" class="quiz__select" onchange="changeMode()">
        <option value="normal" {% if selected_mode == 'normal' %}selected{% endif %}>Unbegrenzt</option>
        <option value="timer" {% if selected_mode == 'timer' %}selected{% endif %}>Zeitmodus</option>
      </select>
    </div>
  </form>

  <div class="quiz__buttons">
    <button type="button" class="quiz__button" onclick="startQuiz()">Quiz starten</button>
  </div>

  <div class="btn-back-container">
    <a href="{{ url_for('nato.nato_menu') }}" class="btn btn--secondary">Zurück zum Menü</a>
  </div>
</div>

<script>
  const quizNormalUrl = "{{ url_for('nato.nato_quiz') }}";
  const quizTimerUrl = "{{ url_for('nato.nato_quiz_timer') }}";

  function changeMode() {
    const mode = document.getElementById("mode").value;
    window.location.href = `/nato/quizmodes?mode=${mode}`;
  }

  function startQuiz() {
    const mode = document.getElementById("mode").value;
    const url = mode === "timer" ? quizTimerUrl : quizNormalUrl;
    window.location.href = url;
  }
</script>
{% endblock %}