{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/pages/home.css') }}">
{% endblock %}

{% block content %}
<div class="page-box page--narrow">
  <h1 class="heading-primary">NATO-Alphabet Quiz</h1>

  <!-- Buchstabe -->
  <div class="quiz__end mx-auto w-260">
    <h1 class="nato-letter my-auto">{{ letter }}</h1>
  </div>

  <!-- Antwortoptionen -->
  <div class="btn-group">
    {% for opt in options %}
    <button
      class="btn btn--primary w-260"
      data-value="{{ opt }}"
      onclick="checkAnswer('{{ opt }}', '{{ correct }}')"
    >
      {{ opt }}
    </button>
    {% endfor %}
  </div>

  <!-- Feedback -->
  <div id="feedback" class="heading-secondary"></div>

  <!-- Button-Bereich -->
  <div class="btn-group mb-0">
    <a 
      href="{{ url_for('nato.nato_quizmodes') }}" 
      class="btn btn--secondary w-260">
      Zurück zum Menü
    </a>

    <a 
      href="{{ url_for('nato.nato_quiz') }}" 
      id="next-btn" 
      class="btn btn--primary w-260 d-none">
      Nächste Frage
    </a>
  </div>
</div>

<script>
function checkAnswer(selected, correct) {
  const feedback = document.getElementById("feedback");
  const buttons = document.querySelectorAll("button[data-value]");
  buttons.forEach(btn => btn.disabled = true);

  if (selected === correct) {
    feedback.innerText = "Richtig!";
    document
      .querySelector(`button[data-value="${correct}"]`)
      .classList.add("btn--success");
  } else {
    feedback.innerText = "Falsch!";
    document
      .querySelector(`button[data-value="${selected}"]`)
      .classList.add("btn--danger");
    document
      .querySelector(`button[data-value="${correct}"]`)
      .classList.add("btn--success");
  }

  document.getElementById("next-btn").classList.remove("d-none");
}
</script>
{% endblock %}