{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/layouts/_tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/pages/nato_table.css') }}">
{% endblock %}

{% block content %}
<div class="page-box page--narrow">
  <h1 class="heading-primary">NATO-Alphabet</h1>

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>Buchstabe</th>
          <th>Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td class="table__highlight">{{ entry.letter }}</td>
          <td>{{ entry.correct }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="btn-back-container">
    <a href="{{ url_for('nato.nato_menu') }}" class="btn btn--secondary">Zurück zum Menü</a>
  </div>
</div>
{% endblock %}