{% extends "base.html" %}

{% block content %}
<div class="text-center mt-5 bg-dark bg-opacity-75 p-5 rounded shadow">
    <h1 class="heading">Bundeswehr Dienstgrade</h1>
    <p class="subheading">Wähle einen Modus aus, um die Dienstgrade zu lernen:</p>

    <div class="home-buttons">
        <!-- Dienstgrad-Tabelle -->
        <a href="{{ url_for('main.ranks') }}" class="btn-home btn-tabelle">
            Dienstgrad-Tabelle
        </a>

        <!-- Karteikarten -->
        <a href="{{ url_for('main.flashcards') }}" class="btn-home btn-flashcards">
            Karteikarten
        </a>

        <!-- Quiz -->
        <a href="{{ url_for('main.quizmodes') }}" class="btn-home btn-quiz">
            Quiz
        </a>
    </div>
</div>
{% endblock %}