{% extends "base.html" %}

{% block content %}
<div class="quizmode-container">
    <h1 class="mb-4 text-warning">Quiz-Modus</h1>
    <p class="lead mb-5">Wähle ein Spielmodus</p>

    <!-- Truppenteil-Filter -->
    <div class="ranks-filter mb-4">
        <form method="get" action="{{ url_for('main.quizmodes') }}">
            <label for="branch">Truppenteil:</label>
            <select name="branch" id="branch" onchange="this.form.submit()">
                {% for b in branches %}
                    <option value="{{ b }}" {% if b == selected_branch %}selected{% endif %}>{{ b }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="home-buttons">
        <!-- Dienstgrad erkennen -->
        <a href="{{ url_for('main.quiz1') }}" class="btn-home btn-quiz">
            Dienstgrad erkennen
        </a>

        <!-- Schulterklappe finden -->
        <a href="{{ url_for('main.quiz2') }}" class="btn-home btn-quiz">
            Schulterklappe finden
        </a>
    </div>
</div>
{% endblock %}